.button{
    width: 426px;
    height: 68px;
    border: none;
    border-radius: 40px;
    background: #FF9514;
    color: white;
    font-family: Nekst;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
}

.disabled{
    cursor:inherit;
    opacity: 0.3;
}

@media screen and (max-width: 1439px) {
    .button{
        width: 345px;
    }
}

@media screen and (max-width: 768px) {
    .button{
        width: 100%;
    }
}

@media screen and (max-width: 319px) {
    .button{
        width: 100%;
        font-size: 22px;
    }
}