.notActiveButton{
    width: 426px;
    height: 68px;
    border: none;
    border-radius: 40px;
    background: #FF9514;
    color: white;
    font-family: Nekst;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
}

.button{
    width: 426px;
    height: 68px;
    border: none;
    border-radius: 40px;
    background: #FF9514;
    color: white;
    font-family: Nekst;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
}

.button:hover{
    background: #000;
}

.loader {
    display: inline-block;
    margin: 0 auto;
    margin-top: 12px;
    width: 30px;
    height: 30px;
    position: relative;
    border-radius: 50%;
    background-image: linear-gradient(270deg, transparent 50%, white 50%),
                      linear-gradient(180deg, #FF9514 50%, white 50%);
    animation: loader 1.5s infinite;
}
  
.loader:after {
    border-radius: 50%;
    display: block;
    content: "";
    background: #FF9514;
    position: absolute;
    left: 3px;
    top: 3px;
    height: 24px;
    width: 24px;
}

.disabled{
    cursor:inherit;
    opacity: 0.3;
}

@media screen and (max-width: 1439px) {
    .button{
        width: 345px;
    }

    .notActiveButton{
        width: 345px;
    }
}

@media screen and (max-width: 768px) {
    .button{
        width: 100%;
    }

    .notActiveButton{
        width: 100%;
    }
}

@media screen and (max-width: 319px) {
    .button{
        width: 100%;
        font-size: 22px;
    }

    .notActiveButton{
        width: 100%;
        font-size: 22px;
    }
}

@keyframes loader {
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}