.myInput{
    position: relative;
    width: 427px;
    height: 119px;
    -webkit-touch-callout: none; 
    -webkit-user-select: none;   
    -khtml-user-select: none;    
    -moz-user-select: none;      
    -ms-user-select: none;       
    user-select: none;  
}

.intro{
    height: 50px;
}

.input{
    height: 68px;
    width: 403px;
    padding-left: 24px;
    border: 0;
    border-radius: 16px;
    background: #F3F3F4;
    outline: none;
    font-size: 30px;
}

.symbol{
    position: absolute;
    top: 51px;
    right: 44px;
    line-height: 68px;
}

.line{
    position: absolute;
    width: 379px;
    left: 24px;
    height: 2px;
    bottom: 1px;
}

.activeLine{
    position: absolute;
    max-width: 379px;
    height: 2px;
    background: #FF9514;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.slider{
    position: absolute;
    top: -7px;
    right: -8px;
    width: 16px;
    height: 16px;
    background: #FF9514;
    border-radius: 100%;
    z-index: 100;
    cursor: pointer;
}

.error{
    margin-top: 10px;
    font-size: 12px;
    color: rgb(151, 45, 45);
}

.active{
    display: none;
}