.myInput{
    position: relative;
    width: 427px;
    height: 119px;
    -webkit-touch-callout: none; 
    -webkit-user-select: none;   
    -khtml-user-select: none;    
    -moz-user-select: none;      
    -ms-user-select: none;       
    user-select: none;  
}

.intro{
    width: 174px;
    height: 20px;
    margin-bottom: 25px;
    font-family: Gilroy;
    font-size: 16px;
    font-weight:normal;
    color: #575757;
}

.input{
    height: 68px;
    width: 303px;
    padding-left: 24px;
    padding-right: 100px;
    border: 0;
    border-radius: 16px;
    background: #F3F3F4;
    outline: none;
    font-family: Nekst;
    font-weight: bold;
    font-size: 30px;
    color: #575757;
}

.input:focus{
    background: white;
    border: 1px solid #F3F3F4;
}

.symbol{
    position: absolute;
    top: 44px;
    right: 44px;
    line-height: 68px;
    font-family: Nekst;
    font-weight: bold;
    font-size: 30px;
    color: #575757;
}

.line{
    position: absolute;
    width: 379px;
    left: 24px;
    height: 2px;
    bottom: 6px;
}

.activeLine{
    position: absolute;
    max-width: 379px;
    height: 2px;
    background: #FF9514;
    border-top-left-radius: 3px;
}

.slider{
    position: absolute;
    top: -7px;
    right: -8px;
    width: 16px;
    height: 16px;
    background: #FF9514;
    border-radius: 100%;
    z-index: 100;
    cursor: pointer;
}

.error{
    margin-top: 10px;
    font-size: 12px;
    font-family: Gilroy;
    font-size: 12px;
    font-weight:normal;
    color: rgb(151, 45, 45);
}

.disabled{
    opacity: 0.3;
}

.active{
    display: none;
}

@media screen and (max-width: 1439px) {
    .myInput{
        width: 100%;
        margin: 0 auto;
    }

    .input{
        width: calc(100% - 124px);
    }

    .line{
        width: calc(100% - 48px);
        left: 24px;
    }
    
    .activeLine{
        max-width: calc(100%);
    }
    
    .slider{
        top: -7px;
        right: -8px;
        width: 16px;
        height: 16px;
    }
}